# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Next.js static files
*.next
.next/cache

# Testing
coverage/

# Production files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE-specific files
.vscode/
.idea/
.DS_Store

# Miscellaneous
*.swp
*~
*.sublime-project
*.sublime-workspace
*.bak
*.tmp

# MacOS-specific
._*
.Trashes
.DS_Store
.AppleDouble
.LSOverride

# Windows-specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux-specific
.nfs*

# Optional lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml
